    <!DOCTYPE html>
    <html lang="en" ng-app="Fooder">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Avrumi</title>

        <!-- core CSS -->
        <link href="../static/Libs/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/font-awesome.min.css" rel="stylesheet">
        <link href="static/css/animate.min.css" rel="stylesheet">
        <link href="static/css/prettyPhoto.css" rel="stylesheet">
        <link href="static/css/main.css" rel="stylesheet">
        <link href="static/css/responsive.css" rel="stylesheet">
        <link href="static/css/Delicious.css" rel="stylesheet">
        <link href="static/css/jk-carousel.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="static/html5shiv.js"></script>
        <script src="static/js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="static/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
    </head><!--/head-->

    <body class="homepage del-body" ng-controller="IndexController" ng-init="GetPages()">
        <header id="header">
          <!--  <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-4">
                            <div class="top-number del-top-number"><p><i class="fa fa-phone-square"></i>054-664-1044</p></div>
                        </div>
                        <!--FACEBOOK AND OTHER ICONS
                        <div class="col-sm-6 col-xs-8">
                           <div class="social">
                                <ul class="social-share">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                                <div class="search">
                                    <form role="form">
                                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                        <i class="fa fa-search"></i>
                                    </form>
                               </div>
                           </div>
                        </div>-->
                   <!-- </div>
                </div><!--/.container-->
           <!-- </div><!--/.top-bar-->

            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="static/images/logo.png" alt="logo"></a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav del-navbar" >
                            <li class=""><a href='#/Index'>דף הבית</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">המוצרים שלנו <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu del-products-dropdown">
                                    <li ng-repeat="product in products"><a href='#/product/{{product.id}}'>{{product.name}}</a></li>
                                </ul>
                            </li>
                            <li class="" ng-repeat="page in pages"><a href={{page.path}}>{{page.name}}</a></li>
                            <li class="" ng-if="!isConnect"><a href='#/Login'>התחברות</a></li>
                            <li class="" ng-if="isConnect"><a href='#/Manage'>ניהול</a></li>
                            <li class="" ng-if="isConnect"><a  ng-click="Logout()" href=''>התנתק</a></li>
                           <!-- <li class="active"><a href="index.html">דף הבית</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">המוצרים שלנו <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-item.html">Blog Single</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="shortcodes.html">Shortcodes</a></li>
                                </ul>
                            </li>
                            <li><a href="services.html">אודות</a></li>
                            <li><a href="portfolio.html">צור קשר</a></li>-->
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->

        </header><!--/header-->
          <div style="background-image: url(static/images/slider/hurt_pancake.jpg);background-size:cover;min-height:100%">
        <ng-view class="del-ng-view">
<!--
        <section id="main-slider" class="no-margin">
            <div class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slider" data-slide-to="1"></li>
                    <li data-target="#main-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    <div class="item active" style="background-image: url(static/images/slider/bg1.jpg)">
                        <div class="container">
                            <div class="row slide-margin">
                                <div class="col-sm-6">
                                    <div class="carousel-content">
                                        <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                        <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                        <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                    </div>
                                </div>

                                <div class="col-sm-6 hidden-xs animation animated-item-4">
                                    <div class="slider-img">
                                        <img src="static/images/slider/img1.png" class="img-responsive">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="item" style="background-image: url(static/images/slider/bg2.jpg)">
                        <div class="container">
                            <div class="row slide-margin">
                                <div class="col-sm-6">
                                    <div class="carousel-content">
                                        <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                        <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                        <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                    </div>
                                </div>

                                <div class="col-sm-6 hidden-xs animation animated-item-4">
                                    <div class="slider-img">
                                        <img src="static/images/slider/img2.png" class="img-responsive">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="item" style="background-image: url(static/images/slider/bg3.jpg)">
                        <div class="container">
                            <div class="row slide-margin">
                                <div class="col-sm-6">
                                    <div class="carousel-content">
                                        <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                        <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                        <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 hidden-xs animation animated-item-4">
                                    <div class="slider-img">
                                        <img src="static/images/slider/img3.png" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="next hidden-xs" href="#main-slider" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </section><!--/#main-slider-->


</ng-view>
              </div>
        <footer id="footer" class="midnight-blue del-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2017 <a target="_blank" href="omri4fun17@gmail.com" title="Smart websites for smart businesses">Smart Websites For Smart Businesses</a>. All Rights Reserved.
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                           Contact For A Website: OmriBenShoham2@gmail.com
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->

        <script src="static/Libs/Jquery/jQuery.js"></script>
        <script src="static/Libs/Bootstrap/js/bootstrap.min.js"></script>
        <script src="static/Libs/Jquery/jquery.prettyPhoto.js"></script>
        <script src="static/Libs/Jquery/jquery.isotope.min.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script src="static/Libs/Angular/angular.min.js"></script>
        <script src="static/Libs/Angular/angular-route.min.js"></script>
        <script src="static/Libs/Angular/angular-animate.min.js"></script>
        <script src="static/Libs/Angular/angular-aria.min.js"></script>
        <script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>
        <script src="static/Libs/Angular/angular-messages.min.js"></script>
        <script src="static/Libs/Angular/angularui/ui-bootstrap-tpls"></script>
        <script src="static/Libs/Angular/ngStorage.min.js"></script>
        <script src="static/Libs/Angular/ng-file-upload-shim.min.js"></script>
        <script src="static/Libs/Angular/ng-file-upload.js"></script>
        <script src="static/js/jk-carousel.min.js"></script>
        <script src="static/js/TweenMax.js"></script>
        <script src="static/js/App.js"></script>
        <script src="static/Controllers/MainController.js"></script>
        <script src="static/Controllers/IndexController.js"></script>
        <script src="static/Controllers/GenericContentPageController"></script>
        <script src="static/Controllers/LoginController"></script>
        <script src="static/Controllers/ManageController"></script>
        <script src="static/Controllers/ProductViewController.js"></script>
        <script src="static/Services/CRUDService.js"></script>
    </body>
    </html>