html, body {
    width: calc(100%);

    height: calc(100%);
}

.del-navbar {
    display:table-caption;
}

.del-navbar li {
    float:right;
}
.dropdown-product {
    text-align:right;
    float:none !important;
}

.del-footer {
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top:5px;
    direction:ltr;
}

.del-body {
    direction:rtl;
}

.del-top-number {
    direction:ltr;
}

.del-col-sm {
    float:right;
}

option:empty
{
    display:none;
}

.del-manage-container
{
    width:100%;
}

.del-panel
{
    width:45%;
    margin-right:2%;
    margin-left:5%;
}

.del-manage-panels
{
    display:flex;
}

.del-action-buttons a
{
    margin-left:1%;
}

.del-dropdown-button
{
    background-color:#c52d2f;
}

.del-products-dropdown {
    text-align:right;
}

.del-products-dropdown li{
    width:100%;
    direction:rtl;
}

.del-products-dropdown li:not(:focus){
    background:black;
}

.del-clearfix {
    margin-right:0px;
    margin-left:0px;
}

.del-product-div {
    background-color:#f2f2f2;
}

.del-feature {
    background-image: url(static/images/slider/bg1.jpg);
    height:inherit;
}

.del-product-pic {
    margin-top:1%;
    margin-bottom:1%;
    margin-left:3%;
    border:1px solid black;
    border-radius:15px;
}

.del-product-area{
    margin-right:0px;
    margin-left:0px;
    height:inherit;
}

.del-product-content{
    width:50%;
    margin-right:5%;
    margin-top:12%;
    margin-left:5%;
    float:right;
    border:1px solid black;
    border-radius:15px;
}

.del-page-content{
    width:50%;
    margin-right:25%;
    margin-top:5%;
    margin-left:25%;
    float:right;
    border:1px solid black;
    border-radius:15px;
}

.del-content-subject{
    padding:5px;
}

.del-ng-view{
    height:inherit;
}

.del-content-slider {
    margin-top:20%;
    float:right;
}

.del-slider-img
{
    float:left;
    margin-left:10%;
}

md-card {
  direction:ltr;
  margin-left:5%;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  box-shadow:none !important;
  background-color:transparent;
}

.del-jk-carousel {
    margin-left:5%;
}

.del-main-panel {
    border:1px solid black;
    text-align:center;
    margin-top:5%;
}

.del-md-card {
    padding-bottom:10px;
}