<div class="container">
   <!-- <div class="col-md-4 col-sm-6 col-centered del-product-div del-product-pic">
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div>
									<a href="#"><img class="media-object" src={{pagePic}} height="100%" width="100%" alt=""></a>
								</div>

							</div><!--/.media -->
					<!--	</div>
					</div><!--/.col-lg-4 -->
        <div class="get-started center wow fadeInDown del-page-content">
            <h2 class="del-content-subject">{{currentPageName}}</h2>
            <p class="lead">{{currentPageContent}}</p>
        </div><!--/.get-started-->
</div>

