<div class="col-md-4">
				<div class="panel panel-default del-main-panel">
					<div class="panel-heading">
						<h2>אברומי</h2>
						<h3>{{homePageContent}}</h3>
					</div>
				</div>
			</div>
  <md-card layout="column" class="del-md-card">
          <jk-carousel
            data="slides"
            item-template-url="'static/Pages/Templates/item-template.html'"
            max-width="600"
            max-height="500"
            auto-slide="true"
            auto-slide-time="2000" >
            </jk-carousel>

  </md-card>


