<section class="del-feature" >
    <div class="row clearfix del-product-area">
					<div class="col-md-4 col-sm-6 col-centered del-product-div del-product-pic">
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div>
									<a href="#"><img class="media-object" src={{productPic}} height="100%" width="100%" alt=""></a>
								</div>

							</div><!--/.media -->
						</div>
					</div><!--/.col-lg-4 -->
        	<div class="get-started center wow fadeInDown del-product-content">
                <h2 class="del-content-subject">{{productName}}</h2>
                <p class="lead del-content-page-content">{{productContent}}</p>
            </div><!--/.get-started-->
    </div>
        </section><!--/#feature-->